@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  


/*Shared common style*/
.title-primary {
    color: #FD6E0A;
}

.dark2 {
    color: #474747;
}





 /*Nav style*/ 
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul {
    display: flex;
    
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

